@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}
header {
  background-image: url("../assets/Hero-bg.png");
  /* Hero-bg */
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 998px;
}
header h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}
header p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

header button {
  border-radius: 8px;
  width: 238px;
  height: 66px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
  margin-bottom: 30px;
}

.outer-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;

  background: rgba(13, 19, 33, 0.02);
  width: 1140px;
  height: 1395px;
  padding: 97px;
}

.outer-div h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.outerDivP {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: start;
  width: 1020px;
}
.card-div {
  border-radius: 16px;
  height: 336px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  width: 946px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: " Azeret Mono", sans-serif;
  justify-content: space-between;
  margin: 32px 0px;

  padding: 48px;
}
.card-div h2 {
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: bold;
}
.card-div p {
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}
.mini-button {
  box-sizing: border-box;

  width: 171px;
  height: 47px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
}
.card-div1 {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
}

.innerFirstDiv {
  width: 477px;
}
.card-div2 {
  border-radius: 16px;

  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  color: rgba(13, 19, 33, 0.7);
}

.inspiration-section {
  width: 1140px;
  height: 777px;
  margin-top: 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.inspiration-section h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inspiration-section p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.inspiration-section div {
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.inspiresecdiv iframe {
  width: 1076px;
  height: 550px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0px;
  border-radius: 16px;
}

/* New section start  */

.myCurrentTarget {
  width: 1140px;
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 111px 0px;
}

.upperDivTarget h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.upperDivTarget p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.lowerDivTarget {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1140px;

  align-items: center;
}
.lowerDivTarget div {
  position: static;
  width: 364px;
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  text-align: start;
  margin: 20px;
}
.lowerDivTarget div h3 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.lowerDivTarget div p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.lowerDivTarget div a {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.lowerDivTarget div img {
  position: static;
  width: 56px;
  height: 56px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}
.codeLan1 {
  border-radius: 16px;

  background: rgba(255, 76, 30, 0.05);
}
.codeLan2 {
  border-radius: 16px;

  background: rgba(0, 76, 232, 0.05);
}
.codeLan3 {
  border-radius: 16px;

  background: rgba(255, 223, 0, 0.05);
}

.contactMe {
  position: absolute;
  width: 1140px;
  height: 288px;
  left: 150px;
  right: 150px;
  top: 4752px;
  bottom: 205px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 64px 48px 64px 48px;

  border-radius: 16px;

  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url("../assets/handshake.jpg");
}
.foterDiv {
  border: 1px solid black;
  object-fit: cover;
  width: 1180px;

  border-radius: 16px;
  height: 313px;
  display: flex;
  flex-direction: column;
  padding: 64px 48px 64px 48px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("../assets/handshake.jpg") center/cover no-repeat;
}

.foterDiv h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.foterDiv p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.supportMiniDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.supportMiniDiv input {
  position: static;
  width: 548px;
  height: 58px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 20px 19px 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  color: rgba(13, 19, 33, 0.4);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.supportMiniDiv button {
  position: static;
  width: 120px;
  height: 58px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 17px 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;
  border-radius: 8px;

  background: rgb(255, 255, 255);

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.foter {
  width: 1440px;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px 32px 150px;
  border-radius: 16px;

  background: rgba(13, 19, 33, 0.03);
  margin-top: 20px;
}

.foter div a {
  text-decoration: none;
}
.foter img {
  height: 36px;
  width: 36px;
  margin-right: 10px;
}
